
*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
/* ////////////////////////////footer/////////////////*/
footer{
    margin-top: 20px;
    background-color: #333;
    color: white;
}
.conteiner-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.section-footer{
    flex:1;
    padding: 0 20px 0;
}
.title-footer{
    font-size:15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.section-footer a {
    color: white;
    text-decoration: none;
}
.section-footer ul{    
    list-style: none;
    padding: 0;
}
.redes i{
    margin: 0px 10px;
    font-size: 25px;
    cursor: pointer;
}
.copyright{
    text-align: center;
}

#body_cultura {
    background-color: antiquewhite;
}


#Header_h1
    {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
        padding: 20px;
        animation: brillo 3s infinite alternate;  
    }

    @keyframes brillo {
        0% {
            letter-spacing: 2px;
            color:black;
        }
        100% {
            letter-spacing: 6px;
            color:black;
        }
    }
    

.nav{
    color: rgb(0, 0, 0); /* Cambia el color del texto */
}

.header__ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 130px; /* Espaciado entre los elementos */
    margin-left: 35px;
    font-size: 20px;
}

nav ul li a {
    color:black; /* Cambia el color de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

nav ul li a:hover {
    color: green; /* Cambia el color al pasar el cursor */
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    border-radius: 5px; /* Bordes redondeados */
}